.gtext {
  --text-width: 100px;
  --gsplits: 4;
  --gcolor: #fff;
  --gsize: 1rem;

  line-height: 1;
  margin: 0;
  display: grid;
  font-weight: 400;
  justify-content: center;
  white-space: nowrap;
  font-size: var(--gsize);
  color: var(--gcolor);
  --offset: calc(var(--text-width) / var(--gsplits));
  grid-template-columns: repeat(var(--gsplits),var(--offset));

  &__box {
    overflow: hidden;
    position: relative;
    will-change: transform;
    margin-right:-0.5px;

    &-inner {
      width: max-content;
      position: relative;
      display: block;
      will-change: transform;
    }
  }
}