{% extends './_base.twig' %}

{% block main %}
  <div class="hero">
    <h1
      class="hero__title"
      data-module="Hello"
      data-context="@media (min-width: 1024px) and was @visible"
    >
      {{ data[lang].title }}
    </h1>
  </div>
  <div class="hero">
    <h1
            class="hero__title"
            data-module="Hello"
            data-context="@media (min-width: 1024px) and was @visible"
    >
      {{ data[lang].title }}
    </h1>
  </div>
{% endblock %}