{% extends './_base.twig' %}

{% block main %}
  <div class="hero">
    <h1
      class="hero__title"
      data-module="scrollText" data-text="{{ data[lang].title }}"
    >
      {{ data[lang].title }}
    </h1>
  </div>

  <div class="hero">
    <h1
      class="hero__title"
      data-module="scrollText" data-text="{{ data[lang].title }}"
    >
      {{ data[lang].title }}
    </h1>
  </div>
{% endblock %}